<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home" >
  <ion-list no-lines>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="data.username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="data.password"></ion-input>
    </ion-item>

  </ion-list>
  <div padding>
    <button block primary (click)="login()" >Sign In</button>
  </div>

</ion-content>
